<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.sample.api.mapper.DeliveryGatewayMapper">

    <insert id="insertTraceCommonState" parameterType="AddInvoiceRequestParamVo">
        /* DeliveryGatewayMapper.insertTraceCommonState */
        INSERT INTO tb_trace_common_state (
            INVOICE_NO
            , PACK_END_DT
            , WH_CD
            , CST_CD
            , PARCEL_CD
            , LEVEL
            , DETAILS
            , REG_ID
            , MOD_ID
        ) VALUES (
            #{invoiceNo}
            , date_format(now(), '%Y%m%d')
            , #{whCd}
            , #{cstCd}
            , #{parcelCd}
            , #{level}
            , #{details}
            , #{regId}
            , #{modId}
        )
    </insert>

    <update id="updateTraceCommonState" parameterType="CallbackAddInvoiceRequestVO">
        /* DeliveryGatewayMapper.updateTraceCommonState */
        UPDATE tb_trace_common_state
        SET LEVEL = #{level}
            , DETAILS = #{details}
            , MOD_TIME = now()
        WHERE INVOICE_NO = #{invoice_no}
    </update>

    <select id="selectTraceCommonState" parameterType="AddInvoiceRequestParamVo" resultType="TraceCommonStateVO">
        /* DeliveryGatewayMapper.selectTraceCommonStateList */
        SELECT
            INVOICE_NO
            , PACK_END_DT
            , WH_CD
            , CST_CD
            , PARCEL_CD
            , LEVEL
            , DETAILS
        FROM tb_trace_common_state
        WHERE INVOICE_NO = #{invoiceNo}
    </select>

    <select id="selectTraceCommonStateList" parameterType="AddInvoiceRequestParamVo" resultType="TraceCommonStateVO">
        /* DeliveryGatewayMapper.selectTraceCommonStateList */
        SELECT
            INVOICE_NO
            , WH_CD
            , CST_CD
            , PARCEL_CD
            , LEVEL
            , DETAILS
        FROM tb_trace_common_state
        WHERE PACK_END_DT >= #{startDt}
          AND PACK_END_DT<![CDATA[<=]]>#{endDt}
        <if test='invoiceNo != null  and invoiceNo != ""'>
          AND INVOICE_NO = #{invoiceNo}
        </if>
        <if test='whCd != null  and whCd != ""'>
          AND WH_CD = #{whCd}
        </if>
        <if test='cstCd != null  and cstCd != ""'>
          AND CST_CD = #{cstCd}
        </if>
        <if test='parcelCd != null  and parcelCd != ""'>
          AND PARCEL_CD = #{parcelCd}
        </if>
    </select>

    <select id="selectTraceCommonList" parameterType="TraceListParamVO" resultType="TraceListVO">
        /* DeliveryGatewayMapper.selectTraceCommonList */
        SELECT
            LEVEL
            , NUM AS invoiceNo
            , TIME_TRANS
            , LOCATION
            , DETAILS
        FROM tb_trace_common
        WHERE F_ID = #{fid}
        ORDER BY TIME_TRANS DESC
    </select>

</mapper>