<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.sample.api.mapper.SweettrackerMapper">

    <select id="insertInvoiceHistory" parameterType="AddInvoiceRequestVO" resultType="int">
        /* SweettrackerMapper.insertInvoiceHistory */
    </select>

    <update id="updateInvoiceHistory" parameterType="AddInvoiceResponseVO">
        /* SweettrackerMapper.updateInvoiceHistory */
    </update>

    <select id="insertInvoiceListHistory" parameterType="InvoiceRequestListVO" resultType="int">
        /* SweettrackerMapper.insertInvoiceListHistory */
    </select>

    <update id="updateInvoiceListHistory" parameterType="AddInvoiceListResponseVO">
        /* SweettrackerMapper.updateInvoiceListHistory */
    </update>



</mapper>